<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% @cocktail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

<h2>Ingredients</h2>
<ul>
<% @cocktail.ingredients.each do |ingredient| %>
  <li>
    <%= ingredient.ingredient %>
     <%= link_to 'Delete', [ingredient.cocktail, ingredient], :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  </li>
<% end %>
</ul>
<h3>Add an ingredient</h3>
<%= render "ingredients/form" %>


  <div class="field">
    <%= f.label :Directions %><br />
    <%= f.text_area :notes %>
  </div>  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
