<h1>Listing cocktails</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cocktails.each do |cocktail| %>
  <tr>
    <td><%= cocktail.name %></td>
    <td><%= link_to 'Show recipe', cocktail %></td>
    <td><%= link_to 'Edit', edit_cocktail_path(cocktail) %></td>
    <td><%= link_to 'Delete', cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cocktail', new_cocktail_path %>
