<p id="notice"><%= notice %></p>

<h1><%= @cocktail.name %></h1>

<h2>Ingredients</h2>
<ul>
<% @cocktail.ingredients.each do |ingredient| %>
  <li>
    <%= ingredient.ingredient %>
     <%= link_to 'Delete Ingredient', [ingredient.cocktail, ingredient], :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  </li>
<% end %>
</ul>

<h3>Add an ingredient</h3>
<%= form_for([@cocktail, @cocktail.ingredients.build]) do |f| %>
  <p>
    <%= f.label :ingredient %><br />
    <%= f.text_field :ingredient %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<h2>Notes</h2>
<p><%= @cocktail.notes %></p>


<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
